.Cabecalho{
    text-align: justify;
}
.Menu{
    font-size: 20px;
    font-family:Arial;
}
#text1{
    color: orange;
}
#text2{
    
    color: blue;
    font-weight: bold;
}
#text3{
   
    color: red;
    font-style: italic;
}
#text4{
   
    color: green;
    text-decoration: underline;
}
#text5{
    font-size: 50px;
    color: magenta;
}