/BrincandoComEstruturas.class
/FilaComPilhas.class
/Fila_IF.class
/ListaEncadeada.class
/ListaEncadeada_IF.class
/PilhaComLista.class
/Pilha_IF.class
/Test0_Fila.class
/Test0_ListaEncadeada.class
/Test0_Pilha.class
